<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <base href="/">
  <title>Adonis</title>
  <link rel="stylesheet" href="/angular/assets/css/style.css">
</head>
<body>
  <app-root>
    <div class="loader">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    
    </div>
  </app-root>
  
  <script src="/assets/script.js"></script>
  <script src="/angular/inline.bundle.js"></script>
  <script src="/angular/polyfills.bundle.js"></script>
  <script src="/angular/styles.bundle.js"></script>
  <script src="/angular/scripts.bundle.js"></script>
  <script src="/angular/vendor.bundle.js"></script>
  <script src="/angular/main.bundle.js"></script>
  <script src="/angular/admin-layout.module.chunk.js"></script>
</body>
</html>
