<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <base href="/">
  <title>Adonis</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons" rel="stylesheet">
  @each(style in listStyle)
  <link href="{{style}}" rel="stylesheet">
  @endeach
</head>
<body>
  <app-root>
    <div class="loader">
      <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </app-root>
  @if(env == 'production')
   @each(script in listScript)
    <script src="build/{{script}}"></script>
  @endeach
  @else
  @each(script in listScript)
    <script src="dist/{{script}}.bundle.js"></script>
  @endeach
  @endif
</body>
</html>
