<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <base href="/">
  <title>Adonis</title>
  <link rel="stylesheet" href="dist/assets/css/style.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons" rel="stylesheet" type="text/css">
</head>
<body>
  <app-root>
    <div class="loader">
      <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </app-root>
  <script src="dist/inline.bundle.js"></script>
  <script src="dist/polyfills.bundle.js"></script>
  <script src="dist/styles.bundle.js"></script>
  <script src="dist/scripts.bundle.js"></script>
  <script src="dist/vendor.bundle.js"></script>
  <script src="dist/main.bundle.js"></script>
</body>
</html>
