.content{
    padding: 15px 0;
}
.fa{
    padding: 0 10px;
}
.fa-facebook{
    color: #3b559f;
    font-size: 25px;
}
.fa-instagram{
    font-size: 30px;
}
.fa-twitter{
    font-size: 30px;
    color: #1da1f2;
}