<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <form action="">

                </form>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput type="text" placeholder="Username / Email" ngModel name="name" #name="ngModel" autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-select placeholder="Roles" ngModel name="roles" #roles="ngModel" multiple>
                                <mat-option *ngFor="let user_role of user_roles" [value]="user_role.value">{{user_role.title}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-12 text-right">
                        <button mat-button class="btn btn-secondary">Clear Filter</button>
                        <button mbuttont-button class="btn btn-info">Filter</button>
                    </div>
                </div>
                <div class="row text-right">
                    <div class="col-md-12">
                        <a mat-button class="btn btn-info" [routerLink]="['add']">Add</a>
                        <button mat-button class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                
            </div>
        </div>
    </div>
</div>