<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Checkboxes and Radio Button
                </h3>
            </div>
            <div class="card-body">
                <div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value=""> Option one is this and that&mdash;be sure to include why it's great
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>

                    <div class="form-check disabled">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" disabled> Option two is disabled
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                </div>
                <div>
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"> Radio is off
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked> Radio is on
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>

                    <div class="form-check form-check-radio disabled">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios1" value="option1" disabled> Disabled radio is off
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Auto Complete
                </h3>
            </div>
            <div class="card-body">
                <div>
                    <form action="">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
                                    <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
                                    <span>{{ state.name }}</span> |
                                    <small>Population: {{state.population}}</small>
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </form>
                </div>
            </div>
        </div> -->
        <div class="card">
            <div class="card-header">
                Datetime Picker, Select, Slider
            </div>
            <div class="card-body">
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Favorite food" class="has-success">
                        <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{ food.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div>
                    <mat-slider></mat-slider>
                    <mat-slide-toggle>Slide me!</mat-slide-toggle>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Input
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" value="" placeholder="Regular" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field class="example-full-width">
                            <input matInput type="text" placeholder="With Floating Label">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field class="example-full-width has-success">
                            <input matInput type="text" placeholder="Success input">
                            <span class="form-control-feedback">
                                <i class="material-icons">done</i>
                            </span>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field class="example-full-width has-info">
                            <input matInput type="text" placeholder="Info input">
                            <span class="form-control-feedback">
                                <i class="material-icons">info</i>
                            </span>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field class="example-full-width has-warning">
                            <input matInput type="text" placeholder="Warning input">
                            <span class="form-control-feedback">
                                <i class="material-icons">warning</i>
                            </span>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field class="example-full-width has-danger">
                            <input matInput type="text" placeholder="Error input">
                            <span class="form-control-feedback">
                                <i class="material-icons">clear</i>
                            </span>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field class="example-full-width">
                            <textarea matInput placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>