<div class="banner fake-bg d-flex align-items-center">
    <div class="container">
        <div class="content">
            <h1>Your Story Starts With Us.</h1>
            <p>Every landing page needs a small description after the big bold title, that's why we added this text here. Add
                here all the information that can make you or your product create the first impression.</p>
            <a mat-button class="btn btn-primary" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Watch Video</a>
        </div>
    </div>
</div>
<div class="contact-form">
    <div class="card">
        <div class="container">

            <form #form="ngForm" (ngSubmit)="submit(form)">
                <div class="row">
                    <div class="col-12">
                        <h3 class="text-center">Contact Form</h3>
                        <ng-container *ngIf="isContacted; else thankyouContact">
                            <div class="contact-success text-center">
                                <div class="label label-success">Thank you for contact. We will contact you as soon as posible </div>
                            </div>
                        </ng-container>
                        <ng-template #thankyouContact>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <input matInput type="text" placeholder="Your Name" ngModel name="name" #name="ngModel" autocomplete="off" required>
                                            <mat-error *ngIf="(name.touched || form.submitted) && !name.valid">
                                                <span *ngIf="name.errors.required">Please! Let us know your name.</span>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <input matInput type="email" placeholder="Your Email" ngModel name="email" #email="ngModel" autocomplete="off" required>
                                            <mat-error *ngIf="(email.touched || form.submitted) && !email.valid">
                                                <span *ngIf="email.errors.required">Please! Let us know your email.</span>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <input matInput type="number" placeholder="Your Phone" ngModel name="phone" #phone="ngModel" autocomplete="off" required>
                                            <mat-error *ngIf="(phone.touched || form.submitted) && !phone.valid">
                                                <span *ngIf="phone.errors.required">Please! Let us know your phone number.</span>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <mat-form-field>
                                        <textarea matInput placeholder="Comment" ngModel name="comment" #comment="ngModel" autocomplete="off" required rows="10"></textarea>
                                        <mat-error *ngIf="(comment.touched || form.submitted) && !comment.valid">
                                            <span *ngIf="comment.errors.required">Can you comment to tell us what you need?</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="footer">
                                <button mat-button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </ng-template>


                    </div>
                </div>
            </form>

        </div>
    </div>
</div>