<div id="login-page" class="fake-bg d-flex align-items-center">
    <div class="background-fake"></div>
    <form action="">
        <div class="row">
            <div class="col-12">
                <div class="card card-login">
                    <div class="card-header text-center">
                        <h4 class="card-title">Login</h4>
                    </div>
                    <div class="card-content">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">face</i>
                            </span>
                            <div class="form-group label-floating is-empty">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" placeholder="Username / Email">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock_outline</i>
                            </span>
                            <div class="form-group label-floating is-empty">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="password" placeholder="Password">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="footer text-center">
                        <button mat-button class="btn btn-default" type="submit">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>