<div class="mt-modal modal-primary">
  <div class="modal-header">
    <h4 *ngIf="!content.header">Primary</h4>
    <h4 *ngIf="content.header">{{content.header}} ?</h4>
  </div>
  <div class="modal-body">
    <p *ngIf="!content.message">Are you sure ?</p>
    <p *ngIf="content.message">{{content.message}} ?</p>
  </div>
  <div class="modal-footer">
    <button mat-button class="btn btn-primary" (click)="continue()">OK</button>
    <button mat-button mat-dialog-close="false">
      Cancel
    </button>
  </div>
</div>