<div class="">
  <div class="row">
    <div class="col-12">
      <div class="card card-plain">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Table Title</h4>
          <p class="card-category">Here is a subtitle for this table</p>
        </div>
        <div class="card-content table-responsive table-full-width">
          <table class="table">
            <thead>
              <th class="text-warning">Name</th>
              <th class="text-danger">Country</th>
              <th class="text-info">City</th>
              <th class="text-primary">Salary</th>
            </thead>
            <tbody>
              <tr>
                <td class="text-warning">Dakota Rice</td>
                <td class="text-danger">Niger</td>
                <td class="text-info">Oud-Turnhout</td>
                <td class="text-primary">$36,738</td>
              </tr>
              <tr>
                <td class="text-warning">Minerva Hooper</td>
                <td class="text-danger">Curaçao</td>
                <td class="text-info">Sinaai-Waas</td>
                <td class="text-primary">$23,789</td>
              </tr>
              <tr>
                <td class="text-warning">Sage Rodriguez</td>
                <td class="text-danger">Netherlands</td>
                <td class="text-info">Baileux</td>
                <td class="text-primary">$56,142</td>
              </tr>
              <tr>
                <td class="text-warning">Philip Chaney</td>
                <td class="text-danger">Korea, South</td>
                <td class="text-info">Overland Park</td>
                <td class="text-primary">$38,735</td>
              </tr>
              <tr>
                <td class="text-warning">Doris Greene</td>
                <td class="text-danger">Malawi</td>
                <td class="text-info">Feldkirchen in Kärnten</td>
                <td class="text-primary">$63,542</td>
              </tr>
              <tr>
                <td class="text-warning">Mason Porter</td>
                <td class="text-danger">Chile</td>
                <td class="text-info">Gloucester</td>
                <td class="text-primary">$78,615</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>