<div class="main-content">
    <div class="container-fluid">
        <mat-tab-group class="tab-success">

            <mat-tab label="Components">
                <child-components></child-components>
            </mat-tab>
            <mat-tab label="Forms">
                <app-forms></app-forms>
            </mat-tab>
            <mat-tab label="Table">
                <app-table></app-table>
            </mat-tab>
            <mat-tab label="Materal Icons">
                <app-icons></app-icons>
            </mat-tab>
            <mat-tab label="Notify">
                <app-notify></app-notify>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>